@import "tailwindcss";

:root {
  --primary: #6366f1;
  --secondary: #8b5cf6;

  --background: #020617;
  --surface: #0f172a;
  --card: rgba(15, 23, 42, 0.72);

  --border: rgba(255,255,255,0.08);

  --text: #f8fafc;
  --muted: #94a3b8;
}

*{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family: Inter, sans-serif;
  background:
      radial-gradient(circle at top right,#4338ca 0%,transparent 35%),
      radial-gradient(circle at bottom left,#0ea5e9 0%,transparent 35%),
      var(--background);

  color:var(--text);

  min-height:100vh;
}

button{
  cursor:pointer;
  transition:.25s ease;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#334155;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:transparent;
}